/*
generic
------------------------------------------------
*/

* {
  box-sizing: border-box;
}

/*
elements
------------------------------------------------
*/

html {
  background-color: black;
  color: white;
}

body {
  margin: 0;
}

header {
  display: flex;
  margin: auto;
}

/*
objects
------------------------------------------------
*/

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.background__path-a {
  position: absolute;
  width: 1829px;
  height: 1829px;
  transform: translate(300px, -360px);
}

.background__path-b {
  position: absolute;
  width: 398px;
  height: 1080px;
  transform: translate(1244px, 0);
}

.background__path-eclipse {
  position: absolute;
  width: 682px;
  height: 682px;
  transform: translate(960px, 168px);
}

.header {
  width: 70vw;
  height: 100vh;
  display: grid;
  grid-gap: 1rem 2rem;
  padding-top: 1rem;
  grid-template-columns: 1fr minmax(auto, 60rem);
  grid-template-rows: auto 40vh auto auto auto;
  align-items: end;
  justify-items: start;
  margin: auto;
}

.header__image {
  grid-column: 1 / span 1;
  align-self: start;
}

.header__hero {
  grid-column: 2 / 3;
  grid-row: 2 / span 1;
  font-family: Raleway;
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.navigation {
  grid-column: 1 / 2;
  grid-row: 3 / span 1;
}

.navigation__list {
  font-family: Nunito;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
  list-style: none;
  opacity: 0.8;
}
.header__info {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header__info > * {
  margin: 8px;
}

.header__scroll {
  opacity: 0.5;
}

.header__bio {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  align-self: start;
  font-family: Nunito;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.5;
}

.header__bio-name {
  font-weight: bold;
}
