* {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: white;
}

body {
  margin: 0;
}

header {
  display: flex;
  margin: auto;
  min-height: 100vh;
  padding-top: 1rem;
}

.header {
  width: 70vw;
  margin: auto;
  display: grid;
}

.header__hero {
  font-family: Raleway;
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}

.navigation__list {
  font-family: Nunito;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8;
  list-style: none;
  opacity: 0.8;
}

.header__bio {
  font-family: Nunito;
  font-weight: 600;
  font-size: 24px;
  opacity: 0.5;
}
